AUTH_SERVER_URL=
AUTH_SERVER_ADMIN_KEY=

TRAIN_SERVER_URL=
MODEL_SERVER_API_BASE=
BENCHMARK_SERVER_URL=
ROLLOUT_SERVER_URL=
E2B_API_URL=

MODEL_SERVER_VERIFIER_API_KEY=
BENCHMARK_SERVER_VERIFIER_API_KEY=
TRAIN_SERVER_VERIFIER_API_KEY=

ANTHROPIC_BASE_URL=
ANTHROPIC_API_KEY=
