TINKER_API_KEY=
TRAIN_SERVER_ADMIN_KEY=
AUTH_SERVER_API_KEY=
AUTH_SERVER_URL=
TRAIN_SERVER_DATA_DIR=./data
TRAIN_SERVER_MAX_CONCURRENT_RUNS=10
TRAIN_SERVER_RUN_TIMEOUT_SECONDS=21600
TRAIN_SERVER_PORT=8300
